// 
// Navbar
// Styling for navigation bars. Generally used as top toolbars
// ----------------------------------------------------------------------------------------

@import 'facades/mobile/mixins';

@mixin navbar{
	height: $row-height;
	padding: 0 .5em;
	overflow: hidden;
	position: relative;
	z-index:100;
	
	&.docked{
		@include docked;
	}
	
	@include toolbar-title;
	
}