// 
// Stage
// All application content is contained within a single stage. This mixin should be applied
// to that element only.
// ----------------------------------------------------------------------------------------


@mixin mobile-stage{
	-webkit-text-size-adjust: none;
	user-select:none;
	-webkit-user-select:none;
	font-family: "Helvetica Neue", Helvetica;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	
	
}