// 
// Glossy buttons
// Apple style buttons with active and hover states
// ----------------------------------------------------------------------------------------

@import 'shared';

@mixin glossy-button($color: $notice-color, $radius: $button-border-radius){
	@if $facades-global-import-used == false{ 
		@include button-base($radius);
	}
	border:1px solid darken($color, 7%);
	background-color:$color;
	@include background-image(linear-gradient(rgba(255,255,255,0.075) 0%, rgba(255,255,255, 0.075) 50%, rgba(0,0,0,.1) 51%));	
	text-shadow:darken($color, 4%) 0 -1px 1px;
	
	&:hover{
		background-color:lighten($color, 5%);
	}
	
	&:active{
		background-color:darken($color, 5%);
	}
	
}