// ----------------------------------------------------------------------------------------
// Global configuration variables
// ----------------------------------------------------------------------------------------

// internal use... when calling facades/global, the imported mixins contain
// checks against adding duplicate css based on this value
$facades-global-import-used: false !default;

$font-color: #222    !default;
$font-size: 13px     !default;
$line-height: 20px   !default;

$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fixed-font-family: "Monaco", 'Courier New', monospace !default;
$serif-font-family: "Georgia", "Times", "Times New Roman", serif !default;

// font sizes for headings, h1 through h4
$heading-font-sizes: 30px 24px 18px 14px !default;

$selection-background-color: #fe57a1 !default;   // hot pink selection action!
$selection-color:             #fff !default;

// set to false to disable misc transition properties. 
// for when you need to sacrifice beauty for file size
$enable-transitions: true !default;

$transition-property: all !default;
$transition-duration: .2s !default;

$include-headline-styles: true !default;

//---------------------------------------------------
// Compass overrides
//---------------------------------------------------

$support-for-original-webkit-gradients: false;
$legacy-support-for-ie6:false;
$legacy-support-for-ie7:false;

// ----------------------------------------------------------------------------------------
// Icon Packs
// ---------------------------------------------------------------------------------------- 
//
//  Available packs include 
//    - Facades
//    - FontAwesome

$icon-pack:'font-awesome' !default;
$icon-font-family:icon-font-name($icon-pack) !default; 
$icon-pack-version:icon-version($icon-pack) !default;

$link-color: #00e !default;
$link-visited-color: darken($link-color, 5%) !default;
$link-hover-color: lighten($link-color, 5%) !default;

// ----------------------------------------------------------------------------------------
// General colors
// ----------------------------------------------------------------------------------------

$horizontal-rule-color: #e5e5e5 !default;

$table-border-color: #ddd !default;
$table-stripe-color: #f5f5f5 !default;


// ----------------------------------------------------------------------------------------
// Notification colors
// ----------------------------------------------------------------------------------------

$notice-color:   #339BB9 !default;
$success-color: #57A957 !default;
$error-color:    #C43C35 !default;
$warning-color: #EED74F !default;

// ----------------------------------------------------------------------------------------
// Forms and inputs
// ----------------------------------------------------------------------------------------

$enable-input-transitions:     $enable-transitions !default;
$input-height:                 1.7em !default;
$input-border-color:           #ccc !default;
$input-focus-color:            $font-color !default;
$input-focus-border-color:    $notice-color !default;
$input-error-color:            $error-color !default;
$input-error-border-color:    $error-color !default;
$input-border-radius:          3px !default;
$input-disabled-color:        #ccc;
$input-disabled-border-color: #ddd;

$input-box-shadow:            #efefef 3px 3px 6px 0px inset !default;
$input-focus-box-shadow:      rgba($input-focus-border-color, .6) 0 0 5px 0 !default;

$field-hint-color: #aaa;

// ----------------------------------------------------------------------------------------
// UI elements
// ----------------------------------------------------------------------------------------

$button-border-radius: 3px !default;
$button-font-size:      $font-size * 0.95 !default;
$tooltip-color:         rgba(0,0,0,.8) !default;

$tab-border-color: #ccc !default;
$tab-accent-color: $notice-color !default; // the border color used on active tabs
$pill-color:       $notice-color !default; // color of active pills
$pill-border-radius: 20px !default; // border radius of pill items

// ----------------------------------------------------------------------------------------
// Special colors
// ----------------------------------------------------------------------------------------

$facebook-blue:#39589d;
$twitter-blue:#00abf5;
