$legacy-support-for-ie8: true !default;
$legacy-support-for-ie7: true !default;
$experimental-support-for-svg: true !default;

@import 'facades/config';
@import 'facades/mixins/rhythm';
@import 'compass/css3';
@import 'compass/utilities/general/clearfix';

// Custom opacity mixin, uses whole numbers instead of floats.
@mixin opacity($opacity: 100) {
	@if $legacy-support-for-ie7{
		filter: alpha(opacity=#{$opacity});
	}
	@if $legacy-support-for-ie8{
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})";
	}	
	opacity: $opacity / 100;
}

// Cross browser inline-block implementations
@mixin inline-block($align: middle){		
	display: inline-block;
	vertical-align: $align;
	*display: inline; 
	*vertical-align: auto;
}

@mixin clipped{
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px, 1px, 1px, 1px); // Stupid IE
	position: absolute;	
}
